hr.new2 {
    border-top: 2px dashed rgb(104, 103, 103);
   
  }



  .container1 {
    position: relative;
    font-family: Arial;
    background: #12132D;
  
    border-radius: 30px;
    margin-top: 10px;
  }
  
  .text-block {
    position: absolute;
    bottom: 120px;
    right: 100px;
    background-color: rgb(238, 233, 233);
    color: rgb(0, 0, 0);
    padding: 25px 25px 25px 25px;
    border-radius: 10px;
    font-size: 25px;
    
   
  }


  
  .text-block1 {
    position: absolute;
    bottom: 80px;
    left: 100px;
    /* background-color: rgb(224, 15, 15); */
    color: rgb(0, 0, 0);
    padding: 25px 25px 25px 25px;
    border-radius: 10px;

    
    
   
  }




  form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  
  form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }
  
  form.example button:hover {
    background: #0b7dda;
  }
  
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }